
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.299);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  filter:drop-shadow(2px 1px 6px rgb(0, 0, 0));
}

.navbar h1 {
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none; 
  font-size: 1.1em;
}

.navbar ul li a:hover {
  color: #162E5A;
} 

#searchbar input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100vh;
  outline: none;
  
}


#home {
  background-color: #e5af0e41;
  padding: 3em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.welcome {
  margin-top: 5rem; 
}

#Users{
font-size: large;
border-style:none;

}

#home p{
  font-size: 1.1rem;
}
#home h1{
  font-size: 2.1rem;
}
#dropdown{
  margin-top: 1rem;
  margin-left: 1rem;
  
}
#pictures{
  padding: 2em;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column; 
}

#feeback{
  padding: 2em;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column; 
}

#related {
  padding: 2em;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column; 
}

.circle {
  width: 50vw; 
  height: 40vw; 
  max-width: 33rem; 
  max-height: 33rem; 
  background-image: url('img/rizz.png'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute; 
  top: calc(3rem + 1%);
  right: 5rem;
  

}

.rectangle1 {
  background-color: #EDEDDD;
  background-size: cover;
  background-position: center;
  width: 38rem;
  display: flex;
  justify-content: start;
  margin-top: 29rem;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.rectangle1 img {
  width: 12em;
  height: 12em;
  margin-left: 2rem;
  transition: transform 0.3s ease;
}

.rectangle1 img:hover {
  transform: scale(1.1); 
}



.rectangle {
  width: 75vw; 
  height: 70vw; 
  max-width: 55rem; 
  max-height: 25rem; 
  background-color: #EDEDDD;
  border-radius: 7%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  position: absolute; 
  top: calc(5rem + 20%); 
  left: 2rem;
  z-index: 1; 
  padding: 1.5rem;
  justify-content: center;
  
}
#btnReadMore {
  
  margin-left: 30%;
  justify-content: center;
  color: #ffffff;  
  background-color: #162E5A; 
  font-size: 1.2rem; 
  padding: 12px 24px; 
  
  cursor: pointer;
  border: none; 
  border-radius: 5px; 
  transition: color 0.3s, border-color 0.3s; 
}

#btnReadMore:hover {
  color: #ffffff; 
  background-color:#C59039;
}
#capt{
  margin-top: 29rem;
  width: 20px;
  height: 20px;
}
#JRU {
  width: 30rem; 
  height: auto; 
}
#JRU:hover{
  transform: scale(1.1); 
}


@media (max-width: 1024px) {
  .circle {
      width: min(60vw, 60vh);
      height: min(30vw, 30%);
      max-width: 18rem;
      max-height: 18rem;
  
  }

  .rectangle {
    width: 50vw;  
    height: 80vh;
    max-width: 25rem; 
    max-height: 35rem; 
    top: calc(1rem + 20%); 
    left: 2rem; 
  }

  .footer {
    width: 90%;
    padding: 1.5em;
  }

  .outro-content {
    width: 80%;
    padding: 1.5em;
  }
  .p{
    font-size: 1.6rem;
  }
} 

@media (max-width: 768px) {
  .circle {
    width: min(60vw, 60vh);
    height: min(80vw, 80vh);
    max-width: 18rem;
    max-height: 18rem;
    left: 5rem;
  }

  .rectangle {
    width: 70vw;
    height: 115vw;
    max-width: 25rem;
    max-height: 35rem;
    top: calc(6rem + 55%); 
    left: 2rem;
  }

  .container {
    width: 90%;
    padding: 1.5em;
  }

  .intro-content {
    width: 80%;
    padding: 1.5em;
  }
}


@media only screen and (max-width: 670px) {
  .navbar {
    padding: 1em; 
  }

  .circle {
    margin-top: 3rem; 
  }

  /* .rectangle {
    width: 65vw;
    height: 65vw;
    max-width: 20rem;
    max-height: 20rem;
    top: calc(7rem + 53%); 
    left: 1rem;
  } */
  body {
    font-size: 0.9rem;
  }
}


@media only screen and (max-width: 480px) {
  .navbar {
    padding: 1em;
  }

  .circle {
    width: min(70vw, 70vh);
    height: min(70vw, 70vh);
    max-width: 16rem;
    max-height: 16rem;
  }
  .rectangle {
    width: 80vw;
    height: 80vw;
    max-width: 20rem;
    max-height: 20rem;
    top: calc(7rem + 60%); 
    left: 1rem; 
  }
  .container {
    width: 100%;
    padding: 1em;
  }

  body {
    font-size: 0.9rem;
  }
}
